select.mb-3.form-select{
    width: 50%;
}
input.mb-3.form-control.form-control-sm{
    width: 50%;
}
.form{

    background-image: url(../../assets/docter7.png);
    background-size:cover;
}

input:hover{
    border: 1px solid;
    border-color:#198754;
}
select:hover{
    border: 1px solid;
    border-color:#198754;
}